<% include _header%>

<h1>Registro</h1>

<form action = "/armas" method="post">
    <div class ="form-group">
        <input name="nombre" type="text" class="form-control"
        placeholder="Nombre del arma" required autofocus/>
    </div>
    <div class="form-group">
        <input name="descripcion" type="text" class="form-control"
        placeholder="descripcion" required/>
    </div>
    <div class="form-group">
        <input name="fuerza" type="text" class="form-control"
        placeholder="fuerza" required/>
    </div>
    <div class="form-group">
        <input name="categoria" type="text" class="form-control"
        placeholder="categoria" required/>
    </div>
<a class="form-group"> Municion </a>
    <select name="municion" class="form-group">
  <option value="true">si</option>
  <option value="false">no</option>
</select>


    <input type="submit" value="Registrarse"
     class="btn btn-primary btn-block"/>
    
</form>

<% include _footer%>